.features {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    &__feature {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
    &__feature__icon {
      width: 50px;
      height: 50px;
    }
    
    &__feature__title {
      font-size: 20px;
      font-weight: 600;
      margin: 20px;
    }
    
    &__feature__desc {
      color: gray;
      width: 50%;
      height: 100px;
    }
  }